.fullcomment {
  display: flex;
  justify-content: center;
  flex-direction: column;

  border-radius: 5px;
  text-align: justify;
  color: black;
  margin: 1rem 0;
  padding: 1rem;
}

.button-delete {
  margin-top: 1rem;
  padding: 10px 15px;
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.button-delete:hover {
  color: #fff;
  background-color: red;
  border: 1px solid red;
  transition: all 0.5s;
}

img {
  width: 150px;
  height: 150px;
}

/* .position-button-delete {
  display: flex;
  justify-content: center;
  align-items: center;
} */
