section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 3rem 0;
  padding: 1.5rem;
}

@media screen and (max-width: 540px) {
  section {
    flex-direction: column;
    justify-content: center;
  }
}
