* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 36rem;
  background-color: #f4d3ff !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
