* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

footer {
  height: 2rem;
  background-color: #818cf8;
  color: aliceblue;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 3rem;
  background-color: #818cf8;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  margin: 0 1rem;
}

ul li a {
  color: #fff;
}

.activeLink {
  color: rgb(0, 60, 255);
}

.childrenLayout {
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.aside {
  background-color: rgb(235, 235, 235);
  height: 5rem;
}

.activeTab {
  color: blue;
}
